<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @sustancium.descripcion %>
</p>

<%= link_to 'Edit', edit_sustancium_path(@sustancium) %> |
<%= link_to 'Back', sustancia_path %>
