<script type="text/javascript">
var msj = "<%= notice %>";
  $(document).ready(function() {
  if(msj!='')
    swal(msj, "", "success")

});
</script>

<br><br>
<h1 class="text-center"> <span class="label label-default">Recuperar Contraseña</span></h1>
<br>

<div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3  col-xs-12 col-sm-12">
<%=  form_tag '/reset_password_update' do %>
<div class="form-group">
    <label for="exampleInputEmail1">Correo Electrónico</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Correo" name="correo" id="correo">
  </div>
 
  <div class="col-md-3 col-lg-3 col-md-offset-2 col-lg-offset-2 col-xs-6 col-sm-6">
  <button type="submit" class="btn btn-success">Resetear Contraseña</button>
  </div>

<% end %>
</div>