<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por registrarse a la aplicación, Farmacia <%= @farmacium.nombre %>!</h1>
    <p>Pronto le notificaremos, que su registro fue aprobado.</p>
  </body>
</html>