<h1 class="text-center"> <span class="label label-default">Farmacia Creada con éxito</span></h1>
<br>
<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11 col-md-offset-1 col-lg-offset-1 col-xs-offset-1 col-sm-offset-1">
<h1 > <span class="label label-default">Bienvenido a la aplicación App Medicamentos</span></h1>
</div>
<br>
<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11 col-md-offset-1 col-lg-offset-1 col-xs-offset-1 col-sm-offset-1">
<h1 > <span class="label label-default">Pronto su farmacia será verificada</span></h1>
</div>
<br>
<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11 col-md-offset-1 col-lg-offset-1 col-xs-offset-1 col-sm-offset-1">
<h1 > <span class="label label-default">Se le notificará por medio del correo electrónico después de ser verificada</span></h1>
</div>
<br>
<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11 col-md-offset-1 col-lg-offset-1 col-xs-offset-1 col-sm-offset-1">
<h1 > <span class="label label-default">Una vez llegada la notificación a su correo podrá iniciar sesión</span></h1>
</div>
<br>
<br>
<br>
<br>
<div class="col-lg-11 col-md-11 col-xs-11 col-sm-11 col-md-offset-4 col-lg-offset-4 col-xs-offset-4 col-sm-offset-4">
 <a href="/login" class="btn btn-success btn-lg">Iniciar Sesión</a>
 </div>