<h1 class="text-center"> <span class="label label-default">Farmacia Creada con éxito</span></h1>
<br>
<h1 class="text-center"> <span class="label label-default">Pronto su farmacia será verificada</span></h1>
<br>
<h1 class="text-center"> <span class="label label-default">Se le notificará por medio del correo electrónico  @@ después de ser verificada</span></h1>
<br>
<h1 class="text-center"> <span class="label label-default">Después de ser notificado, podrá iniciar sesión.</span></h1>
<br>