
<script type="text/javascript">
	var n = "<%= notice %>";
	if(n!='')
		swal("Farmacia creada con éxito.");
	
</script>

<h1 class="text-center"> <span class="label label-default">Crear Farmacia</span></h1><br>

<%= render 'form' %>


