<%= render 'linkprincipal' %>
<h1 class="text-center">Actualizar Plan Paciente.</h1>

<%= render 'form' %>

<div class="col-lg-6 col-md-8 col-md-offset-2 col-lg-offset-5 col-xs-12 col-sm-12">

          <a href="/plan_pacientes/<%= @plan_paciente.id %>" class="btn btn-success">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Mostrar
          </a>
 </div>