<script type="text/javascript">
	var msj = "<%= notice %>";
	if(msj!='')
		swal(msj);
	
</script>
<h1 class="text-center">Nuevo Laboratorio</h1>

<%= render 'form' %>

<%= link_to 'Back', plan_pacientes_path %>
