<script type="text/javascript">
var msj = "<%= notice %>";
	$(document).ready(function() {
  if(msj!='')
  	swal(msj, "", "success")

});
</script>
<%= render 'linkprincipal' %>

<h1 class="text-center"> <span class="label label-default">Nueva Presentación de productos</span></h1>
<br>
<%= render 'form' %>


