<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @presentacion.descripcion %>
</p>

<%= link_to 'Edit', edit_presentacion_path(@presentacion) %> |
<%= link_to 'Back', presentacions_path %>
