<div class="col-lg-12 col-md-12  col-xs-12 col-sm-12">

     <a href="/disponibilidads" class="btn btn-info">
         <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Disponibilidades
          </a>
          
 </div>