<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @disponibilidad.nombre %>
</p>

<%= link_to 'Edit', edit_disponibilidad_path(@disponibilidad) %> |
<%= link_to 'Back', disponibilidads_path %>
