<%= bootstrap_form_for(@laboratorio) do |f| %>
 
<div class="col-md-8 col-md-offset-2  col-xs-12 col-sm-10">
  <div class="field">

    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>
 </div>