<h1 class="text-center">Actualizar Laboratorio</h1>

<%= render 'form' %>

<div class="col-lg-6 col-md-8 col-md-offset-2 col-lg-offset-5 col-xs-12 col-sm-12">

		 <a href="/laboratorios" class="btn btn-info">
         <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Laboratorios
          </a>
          <a href="/laboratorios/<%= @laboratorio.id %>" class="btn btn-success">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Mostrar
          </a>
 </div>
