
<script type="text/javascript">
	var msj = "<%= notice %>";
	if(msj!='')
		swal("Laboratorio creado con éxito.");
	
</script>
<h1 class="text-center">Nuevo Laboratorio</h1>

<%= render 'form' %>

<%= link_to 'Back', laboratorios_path %>
