<script type="text/javascript">
var msj = "<%= notice %>";
	$(document).ready(function() {
  if(msj!='')
  	swal(msj, "", "success")

});
</script>
<%= render 'linkprincipal' %>
<h1 class="text-center">Nuevo Producto.</h1>

<%= render 'form' %>


