<!DOCTYPE html>
<html>
<head>
  <title>AppMedicamentos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/assets/sweetalert2.css">
  
   <script src="/assets/sweetalert2.js"></script>
    
</head>
<body>

<%= yield %>

</body>
</html>
