<!DOCTYPE html>
<html>
<head>
  <title>AppMedicamentos</title>
<script src="/assets/sweetalert2.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/sweetalert2.css">

  
  

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    
</head>


<%= yield %>

</body>
</html>
